.first-txt{
    color: #3E434A;
    font-size: 22px;

}
.first-txt span{
    color: #2C0C59;
    font-size: 30px;
}
.second-txt{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--Black, #242A31);
    font-size: 56px;
    width: 36rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
.stack{
    color: #FABD03;

}

.last-txt{
    color: #3E434A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 50px;
    height: 10rem;
    line-height: 4rem;

}
.name-span{
    font-size: 36px;
    font-weight: 400;
    color: #FABD03;
}
.LeftCointainer{
    margin-top: 3rem;
    margin-right: 5rem;
    width: 32rem;
}